<!DOCTYPE html>
<html>
<head>
    <title>Meadowlark Travel</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <p>----------header------------</p>
    {{{ body }}}
</body>
</html>
